
/*fuente principal Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-size: 16px;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    background-color: #faf4ef;
}
html{
    font-size: 62.5%;  
    box-sizing: border-box;
    
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    
    
}
a{
    text-decoration: none !important;
}

*{
    margin: 0;
    padding: 0;
    }

.container-fluid{
    padding: 0;
}
.header{
        padding: 10px;
        margin: 0px;
        background-color:#5D6473;       
       align-items: center;
        
}
.header > i{
    display: none;
}
.fa-bars{
    font-size: 4rem;
   
    margin-right: 20px;
    color: #F2E2CE;
    
}
.navlink{
    text-decoration: none;
    color: #F2E2CE;
    padding: 1rem; 
   
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;   
       
}

li{
    list-style: none;
}

.navigation >ul{
    margin-bottom: 0px;     
}

.navigation > li > ul{
    display: none;
    background-color: none;   
    
}
.navigation >li:hover ul{    
    display: block;
    position: absolute;    
    background-color: #5D6473;    
}

a:hover{
    color: #F2E2CE;
}

.navigation> ul > li:hover{
    background-color: #0D0D0D;
    transition: all 0.3s ease-in-out;
}
.p-4 > ul > li{
    text-align: center;
    width: 15rem;
}
.p-4 > ul > li:hover{
    background-color: #0D0D0D;
    transition: all 0.3s ease-in-out;
}

.header .navigation > li >ul >li :hover{
    color: #0D0D0D;
    transition: all 0.3s ease-in-out;
    
}
.header .navigation > li >ul >li >a{
    color: #F2E2CE;    
}

.topNav{
    position: sticky;
    top: 0px;
    z-index: 100;    
}
.navbar-dark .navbar-toggler{
    border: none;
    color: #F2E2CE;
}
.nav-inferior{
    border-top: solid 1px #F2E2CE;
}

.title{    
    padding: 1rem 0rem 1rem 0rem;       
    
    color:#F2E2CE;    
    width: 60%;   
    font-weight:bold;
    font-size: 3rem;
}
h1{
    margin: 0rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 5rem;
}
h2{
    text-transform: uppercase;
    font-size: 4rem;    
    max-width: 100%;
    padding: 2rem;
}


.navigation-foot{
    text-align: center;
    background-color: #5D6473;
    padding: 2rem;       
}

.banner-container{
    background-image: url(../assets/img/paisaje.jpg);
    max-width: 100%;
    min-height: 70vh;
    background-size:cover;
    
}
.banner-container-review{
    background-image: url(../assets/img/happy-diverse-business-partners-closing-deal.jpg);
    max-width: 100%;
    min-height: 70vh;
    background-size:cover;
    
}
.banner-container-services{
    background-image: url(../assets/img/business-training.jpg);
    max-width: 100%;
    min-height: 70vh;
    background-size:cover;
    
}
.banner-container-about{
    background-image: url(../assets/img/coach-by-whiteboard.jpg);
    max-width: 100%;
    min-height: 70vh;
    background-size:cover;
    
}
.banner-container-coaching{
    background-image: url(../assets/img/aerial-view-business-team.jpg);
    max-width: 100%;
    min-height: 70vh;
    background-size:cover;
    
}
.banner-title{    
    font-size: 1rem;
    padding-left: 3rem;
    color: #ecd2a0;   
    text-transform:uppercase;
    font-weight: 700;
    font-size: 6rem;
    text-shadow: 1px 1px #0D0D0D;
    
}
.contact_image{
    padding: 0;
    max-width: 80%;
}
.contact_clearbg{  
    
    border-radius: .5rem; 
    background-color: #ffffff;
    max-width: 80%;
    padding: 2rem;
}
.contact_clearbg p{
    margin: 0;
}
.contact_clearbg div{
    margin-top: 1rem;
}

.contact_clearbg img{
    max-width: 30%;
    max-height: 30%;    
}
.contact_clearbg h3{
    
    
    top: 5%;
    left: 15%;
}

.innerBanner{
    height: 60vh;
}

.btn{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 34px;
    line-height: 1;
    border-radius: 2rem;
    margin-left: 3rem;
    transition: all 0.3s ease-in-out;
    background-color: #0D0D0D;
    color: #F2E2CE;
    width: 6rem;
   
}
.btn:hover{
    background-color:#F2E2CE;
    color: #0D0D0D;
    width: 13rem;
}
.services {
    padding: 2rem;
  
}
.about {
    padding: 2rem;
    margin: 0rem; 
}

.about h1{
 text-align: center;
 font-size: 5rem;    
}

.subtitle{
    padding: 4rem;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;    
   }
.motivation{
    height: 100%;
    background-image: url(../assets/img/smiling-young-employee-giving-presentation-working-with-flipchart-meeting-room.png);
    padding: 3rem;
    margin-bottom: 0px;
    opacity: 100%;  
}


.motivation__wrd{
    color: #ecd2a0;  
    font-size: 4rem;
    text-shadow: 1px 1px #0D0D0D;   
}

.card{    
    margin: 2rem auto;   
    padding: 2rem;
    text-align: center;
    width: 30vw;
    border-radius: 1rem;
 
}
.card__img{
    width: 10rem;
    height: 10rem;
    margin: 1rem auto;
}
 .card__ttl{
    margin: 1rem;
    font-size: 2rem;
}
.form-control{
    padding: 1rem;
}


.contactForm__btn{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 34px;
    line-height: 1;
    border-radius: 1.5rem;  
    transition: all 0.3s ease-in-out;
    background-color: #0D0D0D;
    color: #F2E2CE;
    width: 20rem;
    margin-right: 1.5rem;
  }

.map iframe{
    display: block;
   margin-top: 2rem;
    max-height: 30rem;
    width: 99vw;
}

.navbar{
    display: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators > li{
    filter: invert(100%);
    
}
.carousel-control-next{
    right: 20%;
}
.carousel-control-prev{
    left: 20%;
}


@media(max-width:1000px){
    .navigation{
        display: none;
    }
    .header > i{
        display: block;
    }
   
    .navbar{
        display: block;
    }
    .navbar-toggler-icon{
        width: 4rem;
        height: 4rem;
        
    }
   
    .navigation:hover{
        right: 0px;
        top:0rem;
    }
    .header{
        justify-content: space-between;
    }
    .title{
        font-size: 2rem;
    }
    
    h1{
        margin: 0rem;
        padding-left: 2rem;
        padding-right: 1rem;
        font-size: 4rem;
    }
   
    .banner-container{
        background-image: url(../assets/img/paisaje.jpg);
        max-width: 100%;
        min-height: 50vh;
        background-size:cover;       
        padding-bottom: 3rem;
    }  
    
    .banner-title{       
        font-size: 3rem;
        width: 50%;
        top: 25vh;
        color: #F2E2CE;        
    }
    .banner-container .btn{
        top:50vh;
    }

    .carousel-control-next{
        right: 10%;
    }
    .carousel-control-prev{
        left: 10%;
    }
    .card{       
        margin-top: 2rem;       
        padding: 2rem;       
        width: 60vw;     
    }
}
@media(max-width:475px){
    .title{
        font-size: 1.5rem;
    }
}